#landing {
	max-width: 700px;
	margin: 119px auto;
}
#landing ul#links {
	list-style-type: none;
	padding-left: 0;
	margin: 0 0 20px 0;
}
#landing ul#links li {
	font-family: -apple-system, helvetica, arial, sans-serif;
	margin-right: 25px;
	padding-bottom: 5px;
}
#landing ul#links li a:hover {
	text-decoration: none;
}
#landing ul#links li#contact {
	font-family: courier;
	margin: 0;
	padding-top: 5px;
}
#landing .section ul {
	padding-left: 15px;
}

#landing .profile-pic {
  border-radius: 50%;
  width: 40vw;
  max-width: 150px;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}